 
h1 {
  color: crimson;
  text-align: center;
}

body {
  background-color: rgb(234, 227, 240);
}

.divcolor{
  background-color: rgb(238, 232, 209);
}

.centerimg {
 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;

}

.centerimg_aus {
 
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
}

.FG {
color: brown;
font-weight: bold;
font-style: oblique;
font-size: 120%;
font-family: Helvetica;
text-align: center;
}


h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
h5 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
 

